PORT=3000
AUTH_SECRET=hidrorec-dev-secret
CORS_ORIGIN=*
EXTERNAL_TIMEOUT_MS=4000

# APAC
# Configure somente se voce tiver a URL oficial/fornecida do endpoint.
APAC_API_URL=
APAC_API_TOKEN=

# WeatherAPI
WEATHER_API_KEY=
WEATHER_API_BASE_URL=https://api.weatherapi.com/v1
WEATHER_API_QUERY=Recife
WEATHER_API_FORECAST_DAYS=2
